// add new themes here
// you can add any key as long as you do it in all themes
// CSS variables will be '--' + key name + 'color' => foo becomes --foo-color
$themeColors: (
    light: (
        text: #000,
        site-text: rgba(0,0,0,.9),
        link:#326891,
        link-visited:  #326891,
        link-hover: #5f8ab1,
        body-bg: #fff,
        modal-bg:rgba(255,255,255, .85),
        border:#dcdcdc,
        area-bg: #e6e6e6,
        invalid: #dcdcdc,
        card: rgba(248, 205, 5, .1)
    ),
    dark: (
        text: #e7eae1,
        site-text: rgba(255,255,255,.9),
        link: #51a9f7,
        link-visited:  #8dc6f8,
        link-hover: #8dc6f8,
        body-bg: #111,
        modal-bg:rgba(17,17,17, .85),
        border: #333,
        area-bg: #393939,
        invalid: #666,
        card:  #393939
    )
);


@each $theme, $colors in $themeColors {
    [data-theme="#{$theme}"] {
        @each $purpose, $color in $colors {
            #{'--' + $purpose + '-color'} : $color;
        }
    }
}
html {    
    --highlight-color: rgb(248, 205, 5);
    --shadow-light-color: rgba(248, 205, 5, .35);
    --shadow-dark-color: rgba(248, 205, 5, .7);
}
