.sba {

    margin: 64px 0 0 0;
    width: var(--sba-app-width);
    padding: var(--sba-app-padding);
    box-sizing: border-box;
    background: var(--body-bg-color);
    border: 1px var(--border-color) solid;
    border-radius: 6px;

    &.inactive {
        display: none;
    }

    *,
    *:before,
    *:after {
        box-sizing: border-box;
    }

    * {
        &:focus {
            outline: 0;
        }
    }

    ::selection {
        background: transparent;
    }

    details {
        font-size: 90%;
        margin-bottom: 1px;

        &.inactive {
            display: none
        }
    }

    summary {
        font-size: 13px;
        line-height: 20px;
        padding: 1px 6px 0 6px;
        background: var(--area-bg-color);
        color: var(--text-color);
        cursor: pointer;
        position: relative;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .pane {
        border: 1px solid var(--border-color);
        border-top: none;
        width: 100%;
        font-size: 85%;
        margin-bottom: 2px;
    }

}

.sba-data-pane {
    border-collapse: collapse;
    table-layout: fixed;

    tr {
        &.sba-preeminent {
            font-weight: bold;
            border-bottom: 2px solid var(--highlight-color) !important;
        }

        &.sba-completed {
            color: var(--invalid-color);
            font-weight: normal;
        }

        &.sba-hidden {
            display: none
        }
    }

    td {
        border: 1px solid var(--border-color);
        border-top: none;
        white-space: nowrap;
        text-align: center;
        padding: 3px 0;
        width: 26px;

        &:first-of-type {
            text-align: left;
            width: auto;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            padding: 3px 3px;

        }
    }
}

[data-ui="yourProgress"] {
    b {
        font-weight: 700;
    }
    .sba-data-pane {
        margin-left: 5px;
        max-width: 300px;
        td {
            border: none;
        }

        tr {
            &.sba-completed {
                color: var(--text-color);
            }
            td {
                &:first-child {
                    &:before {
                        content: '•';
                        display: inline-block;
                        margin-right: 10px;
                    }
                }
                &:nth-child(n+2)  {
                    text-align: right;
                    width: 80px;
                }
                &:nth-child(2)  {
                    &::after{
                        content: ' pts.';
                    }
                }
                &:last-child  {
                    &::after{
                        content: '%';
                    }
                }
            }

        }
    }
}


[data-ui="header"] {
    font-weight: bold;
    line-height: 32px;
    flex-grow: 2;
    text-indent: 1px;
    color: currentColor;

    &:hover {
        color: var(--link-hover-color);
        text-decoration: underline
    }
}

[data-ui="score"],
[data-ui="letterCount"],
[data-ui="firstLetter"] {
    tbody {
        tr {
            &:first-child {
                td {
                    font-weight: bold;
                    font-size: 92%;
                }
            }
        }
    }
}

[data-ui="firstLetter"] {
    tbody {
        tr {
            td {
                &:first-child {
                    text-align: center;
                    text-transform: uppercase;
                }
            }
        }
    }
}

[data-ui="progressBar"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    border-radius: 0;
    margin: 0;
    height: 6px;
    padding: 0;
    background: transparent;
    display: block;

    &.inactive {
        display: none;
    }

    &::-webkit-progress-bar {
        background-color: transparent;
    }

    &::-webkit-progress-value {
        background-color: var(--highlight-color);
        height: 4px;
    }

    &::-moz-progress-bar {
        background-color: var(--highlight-color);
    }
}

[data-ui="spillTheBeans"] {
    text-align: center;
    padding: 14px 0;
    font-size: 280%;

    &.inactive {
        display: none;
    }
}

[data-ui="menu"] {
    position: relative;
    z-index: 1;

    .pane {
        position: absolute;
        background: var(--body-bg-color);
        border: 1px var(--border-color) solid;
        top: 55px;
        padding: 5px;
        right: 10000px;
    }

    &.active,
    &:hover {
        .pane {
            right: 0;
        }
    }


    li {
        position: relative;
        line-height: 1.8;
        white-space: nowrap;
        cursor: pointer;
        overflow: hidden;
        display: block;
        padding: 5px 25px 5px 38px;
        font-size: 14px;

        &::before,
        &::after {
            position: absolute;
            display: block;
        }

        &[data-icon="checkbox"] {

            &[data-state="true"] {
                &::after {
                    content: '✔';
                    color: var(--highlight-color);
                    top: 2px;
                    left: 12px;
                    font-size: 16px;
                }
            }
        }

        &[data-icon="warning"] {
            &::before {
                content: "△";
                color: #c00;
                left: 9px;
                top: -9px;
                font-size: 27px;
                font-weight: bold;
            }

            &::after {
                content: "!";
                color: var(--text-color);
                top: 7px;
                left: 19px;
                font-weight: bold;
                font-size: 12px;
            }
        }

        &[data-target="yourProgress"] {
            border-top: 1px solid var(--border-color);
        }

    }
}


// sb
.sba-googlified {
    .sb-anagram {
        cursor: pointer;

        &:hover {
            text-decoration: underline;
            color: var(--link-hover-color);
        }
    }
}

#portal-game-toolbar {
    [role="presentation"]::selection {
        background: transparent
    }
}