doctype html
head
  meta(content='text/html; charset=UTF-8' http-equiv='Content-Type')
  meta(charset='utf-8')
  title Spelling Bee Assistant
  meta(content='width=device-width, initial-scale=1' name='viewport')
  style
    include ../../css/site.css
  meta(content='Spelling Bee Assistant' property='og:title')
  meta(content='Assistant for Spelling Bee, the New York Times’ popular word puzzle.' property='og:description')
  meta(content='https://draber.github.io/img/social.png' property='og:image')
  meta(content='https://draber.github.io/' property='og:url')
  meta(content='summary_large_image' name='twitter:card')
  meta(content='@d_raber' name='twitter:site')
  meta(content='Spelling Bee Assistant' property='og:site_name')
  meta(content='Spelling Bee Assistant' name='twitter:image:alt')
header
  .wrapper
    h1 Spelling Bee Assistant
    a.twitter-share-button(data-show-count='false' href='https://twitter.com/share?ref_src=twsrc%5Etfw') Tweet
    script(async='' charset='utf-8' src='https://platform.twitter.com/widgets.js')
main.wrapper
  section
    h2 What is this?
    p
      strong Spelling Bee Assistant
      |
      | is a JavaScript bookmarklet for
      |
      a(href='https://www.nytimes.com/puzzles/spelling-bee' rel='nofollow') 
      | Spelling Bee, the New York Times&rsquo; popular word puzzle.
    p
      | In case you haven&rsquo;t heard of bookmarklets before, they are small pieces of code that can enhance the functionality of a website. They reside, just like regular bookmarks in your browser&rsquo;s bookmark menu.
    p
      img(alt='Bookmarks' src='img/bookmarklet.png')
    p
      | This bookmarklet adds three new panels to the game, data will be updated as you progress.
    .panels
      div
        h3 Stats
        img(alt='Game stats' src='img/stats.png')
        p This one shows some statistics but contains no spoilers.
      div
        h3 Spoilers
        img(alt='Spoilers' src='img/spoilers.png')
        p
          | This one is similar but it gives away information that you probably don&rsquo;t want to know early on.
      div
        h3 Solution
        img(alt='Solution' src='img/solution.png')
        p
          | The third panel hides a button that - upon confirmation - will solve the game with a few mouse clicks. However, it won&apos;t make you Queen Bee &#x1F61E;. All the words you didn&apos;t find yourself will be linked to the respective terms in Google. Maybe this will help you next time!
  section
    h2 Installation
    p
      em
        | Note: If you already have an older version of the bookmarklet you should delete it first, otherwise it might be difficult to tell both versions apart.
    div Drag and drop the bookmarklet below into your browser&rsquo;s bookmark menu:
    include bookmarklet.pug
    p
      | Next time you are playing Spelling Bee you can click on the bookmarklet to display the assistant. You can drag it anywhere on the page by grabbing it at the top and close it by clicking on the
      b &times;
      | symbol.
  section
    h2 Does it work everywhere?
    p
      | The assistant is not suitable for the mobile version of the game and has only been tested in the desktop version. It requires a
      a(href='https://caniuse.com/details') modern browser
      | and won&rsquo;t work in Internet Explorer.
    h2 Does it not spoil the game?
    p
      | According to
      a(href='https://www.nytimes.com/2020/10/16/crosswords/spellingbee-puzzles.html') this article
      | other people have been creating similar tools, which the Spelling Bee community seems to be fond of.
    p
      | Start the game without the extra panels, then at some point you can display the stats. Do yourself the favor and make a serious effort to solve the game before you click on the magic button. The button is meant to be a last resort, when you eventually run out of ideas and frustration hits.
    h2
      | How did you do this? | I discovered a bug | I would like to ask for a new feature
    p
      | The source code is available under the MIT License from
      a(href='https://github.com/draber/draber.github.io') this repository
      | .
    h2 Is the NYT behind this or are you affiliated with the NYT?
    p No.
