[data-theme="light"] {
  --text-color: #000;
  --link-color: #0f79bf;
  --body-bg-color: #fff;
  --modal-bg-color: rgba(255, 255, 255, 0.85);
  --border-color: #dcdcdc;
  --area-bg-color: #e6e6e6;
  --invalid-color: #dcdcdc; }

[data-theme="dark"] {
  --text-color: #e7eae1;
  --link-color: #0f79bf;
  --body-bg-color: #111;
  --modal-bg-color: rgba(17, 17, 17, 0.85);
  --border-color: #333;
  --area-bg-color: #393939;
  --invalid-color: #666; }

html {
  --highlight-bg-color: rgb(248, 205, 5);
  --shadow-light-color: rgba(248, 205, 5, .35);
  --shadow-dark-color: rgba(248, 205, 5, .7);
  --card-color: rgba(248, 205, 5, .1); }

html {
  line-height: 1.15;
  text-size-adjust: 100%;
  color: #222;
  font-size: 62.5%;
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  margin: 0;
  font-size: 1.6rem;
  line-height: 1.6;
  font-family: 'Open Sans', sans-serif; }

main.wrapper {
  padding-top: 10rem; }

h1 {
  margin: 0; }

h2 {
  margin: 2rem 0 1rem; }

h3 {
  margin: 1.5rem 0 0.8rem; }

p,
ul,
ol {
  margin: 0 0 1rem; }

.rgt {
  text-align: right; }

:target {
  scroll-margin-top: 120px; }

a {
  background-color: transparent;
  color: #326891; }
  a:hover {
    text-decoration: none; }
  a:visited {
    color: #326891; }

.emoji {
  font-weight: bolder;
  font-size: 1.6rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; }

img {
  border-style: none;
  vertical-align: middle;
  max-width: 100%; }

::selection {
  background: var(--highlight-bg-color); }

header {
  position: fixed;
  border-bottom: 1px solid var(--border-color);
  width: 100%;
  background: white;
  padding: 2rem 0;
  top: 0;
  z-index: 10; }
  header .wrapper {
    display: flex;
    justify-content: space-between; }

.social {
  position: relative !important;
  margin: 0 2rem 0 0;
  padding: 1.3rem 0 0 0;
  display: flex; }
  .social li {
    margin: 0 1rem; }

.github {
  position: relative;
  top: -0.5rem; }
  .github img {
    width: 2rem; }

[data-theme="dark"] {
  background: var(--body-bg-color);
  color: var(--text-color); }
  [data-theme="dark"] header {
    background: var(--body-bg-color);
    color: var(--text-color); }
  [data-theme="dark"] .card {
    background: var(--area-bg-color); }
  [data-theme="dark"] .img-box {
    background-color: var(--body-bg-color); }
  [data-theme="dark"] .github img {
    filter: invert(100%); }
  [data-theme="dark"] main img {
    opacity: 0; }
  [data-theme="dark"] a {
    color: #51a9f7; }
    [data-theme="dark"] a:hover {
      color: #8dc6f8; }
  [data-theme="dark"] * {
    border-color: #333 !important; }
  [data-theme="dark"] .hive-box .cells path:not(.center) {
    fill: var(--area-bg-color); }
  [data-theme="dark"] .hive-box .text path:not(.center) {
    fill: var(--text-color); }

.wrapper {
  margin: 0 auto;
  max-width: 102.4rem;
  padding: 0 2rem;
  position: relative; }

.intro {
  display: flex;
  align-items: flex-start;
  padding-top: 4rem; }
  .intro .intro-text {
    flex-grow: 2;
    margin-right: 2rem; }
  .intro .img-box {
    margin: 0;
    background-position-y: 1.5rem; }
    .intro .img-box img {
      margin-top: 0; }
  .intro .installer {
    min-width: 16rem;
    height: 24.6rem;
    padding-top: 1.5rem; }
    .intro .installer:hover {
      box-shadow: 0 0 1.5rem 0.8rem rgba(var(--highlight-bg-color), 0.35); }
    .intro .installer:focus {
      box-shadow: 0 0 1.5rem 0.8rem rgba(var(--highlight-bg-color), 0.7); }
  .intro .bookmarklet {
    cursor: move; }

.extras .img-box {
  float: none;
  display: inline-block; }

section:after {
  content: '';
  clear: left;
  display: block; }

.lft {
  float: left;
  margin: .5rem 2rem .3rem 0; }

.clr {
  clear: both; }

.img-box {
  margin: 0;
  position: relative;
  border-width: .1rem;
  border-color: var(--border-color);
  border-style: solid;
  border-radius: .8rem;
  background-repeat: no-repeat;
  background-position: center 1rem;
  background-color: white; }
  .img-box img {
    display: block;
    margin: 1rem; }
  .img-box.hive-box {
    shape-outside: circle(55% at 42% 44%);
    padding: 1.5rem 4rem 4rem 0;
    float: left;
    position: static;
    border: none; }
  .img-box svg {
    width: 20rem; }
  .img-box.closed {
    background-image: url(../img/closed-dark.png); }
  .img-box.bookmarklet {
    background-image: url(../img/bookmarklet-dark.png); }
  .img-box.dark-mode {
    background-image: url(../img/dark-mode-dark.png); }
  .img-box.header {
    background-image: url(../img/header-dark.png); }
  .img-box.pangram-underline {
    background-image: url(../img/pangram-underline-dark.png); }
  .img-box.score-so-far {
    background-image: url(../img/score-so-far-dark.png); }
  .img-box.set-up {
    background-image: url(../img/set-up-dark.png); }
  .img-box.spill-the-beans {
    background-image: url(../img/spill-the-beans-dark.png); }
  .img-box.spoilers {
    background-image: url(../img/spoilers-dark.png); }
  .img-box.steps-to-success {
    background-image: url(../img/steps-to-success-dark.png); }
  .img-box.surrender {
    background-image: url(../img/surrender-dark.png); }

figure {
  margin: 0;
  padding: 0; }

figcaption {
  font-size: 1.2rem;
  padding: .3rem 0 .6rem 0;
  text-align: center; }

textarea {
  padding: 1rem;
  display: block;
  width: 100%;
  min-height: 3rem;
  color: var(--text-color);
  font: 1.5rem Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace; }

.help {
  cursor: help; }

.card {
  border-width: .1rem;
  border-color: var(--border-color);
  border-style: solid;
  border-radius: 0.9rem;
  padding: 1.1rem 1.5rem;
  margin-bottom: 2rem;
  background: var(--card-color); }
  .card:after {
    content: '';
    clear: left;
    display: block; }

.card-listing {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  position: relative;
  overflow: hidden;
  font-size: 1.5rem;
  line-height: 1.5; }
  .card-listing h3 {
    margin-top: 0;
    font-size: 1.5rem; }

map,
area {
  outline: none !important; }

th {
  font-weight: normal; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.mobile-only {
  display: none; }

@media screen and (max-width: 830px) {
  .card-listing {
    display: block; } }
@media screen and (max-width: 700px) {
  .mobile-only {
    display: block; }

  .desktop-only {
    display: none; }

  h1 {
    font-size: 2.2rem; }

  .intro {
    display: block; } }
@media screen and (max-width: 400px) {
  .img-box {
    float: none;
    display: inline-block;
    margin-bottom: 1.5rem; } }
