@charset "UTF-8";
.pz-game-field {
  background: inherit;
  color: inherit; }

.sb-wordlist-items .sb-pangram {
  border-bottom: 2px #f8cd05 solid; }
.sb-wordlist-items .sb-anagram a {
  color: #888; }

.sba-dark {
  background: #111;
  color: #eee; }
  .sba-dark .sba {
    background: #111; }
    .sba-dark .sba summary {
      background: #252525;
      color: #eee; }
  .sba-dark .pz-nav__hamburger-inner,
  .sba-dark .pz-nav__hamburger-inner::before,
  .sba-dark .pz-nav__hamburger-inner::after {
    background-color: #eee; }
  .sba-dark .pz-nav {
    width: 100%;
    background: #111; }
  .sba-dark .pz-nav__logo {
    filter: invert(1); }
  .sba-dark .sb-modal-scrim {
    background: rgba(17, 17, 17, 0.85);
    color: #eee; }
  .sba-dark .pz-modal__title {
    color: #eee; }
  .sba-dark .sb-modal-frame,
  .sba-dark .pz-modal__button.white {
    background: #111;
    color: #eee; }
  .sba-dark .pz-modal__button.white:hover {
    background: #393939; }
  .sba-dark .sb-message {
    background: #393939; }
  .sba-dark .sb-progress-marker .sb-progress-value,
  .sba-dark .hive-cell.center .cell-fill {
    background: #f7c60a;
    fill: #f7c60a;
    color: #111; }
  .sba-dark .sb-input-bright {
    color: #f7c60a; }
  .sba-dark .hive-cell.outer .cell-fill {
    fill: #393939; }
  .sba-dark .cell-fill {
    stroke: #111; }
  .sba-dark .cell-letter {
    fill: #eee; }
  .sba-dark .hive-cell.center .cell-letter {
    fill: #111; }
  .sba-dark .hive-action:not(.hive-action__shuffle) {
    background: #111;
    color: #eee; }
  .sba-dark .hive-action__shuffle {
    filter: invert(100%); }
  .sba-dark *:not(.hive-action__shuffle):not(.sb-pangram):not(.sba-current) {
    border-color: #333 !important; }

.sba {
  position: absolute;
  width: 200px;
  background: inherit;
  box-sizing: border-box;
  z-index: 3;
  margin: 16px 0;
  padding: 0 10px 5px;
  background: #fff;
  border-width: 1px;
  border-color: gainsboro;
  border-radius: 6px;
  border-style: solid; }
  .sba *,
  .sba *:before,
  .sba *:after {
    box-sizing: border-box; }
  .sba *:focus {
    outline: 0; }
  .sba .dragger {
    font-weight: bold;
    cursor: move;
    line-height: 32px; }
  .sba .closer,
  .sba .minimizer {
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    top: 0;
    line-height: 32px;
    padding: 0 10px;
    cursor: pointer; }
  .sba .closer {
    right: 0; }
  .sba .minimizer {
    right: 16px;
    transform: rotate(-90deg);
    transform-origin: center;
    font-size: 10px;
    right: 24px;
    top: 1px; }
    .sba .minimizer:before {
      content: "❯"; }
  .sba.minimized details {
    display: none; }
  .sba.minimized .minimizer {
    transform: rotate(90deg);
    right: 25px;
    top: 0; }
  .sba details {
    font-size: 90%;
    margin-bottom: 1px;
    max-height: 800px;
    transition: max-height 0.25s ease-in; }
    .sba details[open] summary:before {
      transform: rotate(-90deg);
      left: 12px;
      top: 0; }
    .sba details.inactive {
      height: 0;
      max-height: 0;
      transition: max-height 0.25s ease-out;
      overflow: hidden;
      margin: 0; }
  .sba summary {
    line-height: 24px;
    padding: 0 15px 0 25px;
    background: #f8cd05;
    cursor: pointer;
    list-style: none;
    position: relative; }
    .sba summary::-webkit-details-marker {
      display: none; }
    .sba summary:before {
      content: "❯";
      font-size: 9px;
      position: absolute;
      display: inline-block;
      transform: rotate(90deg);
      transform-origin: center;
      left: 9px;
      top: -1px; }
  .sba .hive-action {
    margin: 0 auto;
    display: block;
    font-size: 100%;
    white-space: nowrap; }
  .sba .pane {
    border: 1px solid gainsboro;
    border-top: none;
    border-collapse: collapse;
    width: 100%;
    font-size: 85%;
    margin-bottom: 4px; }
  .sba tr:first-of-type td,
  .sba tr:first-of-type th {
    border-top: none; }
  .sba tr td:first-of-type {
    text-align: left; }
  .sba tr.sba-current {
    font-weight: bold;
    border-bottom: 2px solid #f8cd05 !important; }
  .sba th,
  .sba td {
    border: 1px solid gainsboro;
    white-space: nowrap; }
  .sba thead th {
    text-align: center;
    padding: 4px 0; }
  .sba tbody th {
    text-align: right; }
  .sba tbody td {
    text-align: center;
    padding: 4px 6px; }
  .sba [data-plugin="footer"] a {
    color: currentColor;
    opacity: .6;
    font-size: 10px;
    text-align: right;
    display: block;
    padding-top: 8px; }
    .sba [data-plugin="footer"] a:hover {
      opacity: .8;
      text-decoration: underline; }
  .sba .spill-title {
    padding: 10px 6px 0px;
    text-align: center; }
  .sba .spill {
    text-align: center;
    padding: 17px 0;
    font-size: 280%; }
  .sba ul.pane {
    padding: 5px; }
  .sba [data-plugin="surrender"] .pane {
    padding: 10px 5px; }
  .sba label {
    cursor: pointer;
    position: relative;
    line-height: 19px; }
    .sba label input {
      position: relative;
      top: 2px;
      margin: 0 10px 0 0; }
