html,
body,
div,
span,
a,
ol,
ul,
li,
label,
table,
tbody,
tr,
th,
td,
details,
summary, {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}
body {
    line-height: 1
}
ul {
    list-style: none
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
a {
    text-decoration: none
}
*,
*:before,
*:after {
    box-sizing: inherit
}
html {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 500;
    font-size: 100%;
    box-sizing: border-box
}