@media (min-width: 768px) {
    .sb-content-box {
        flex-direction: row;
        max-width: 1080px;
        margin: 0 auto
    }

    .sb-status-box {
        width: 50%
    }

    .sb-expanded .sb-wordlist-drawer.paginated {
        max-height: calc(var(--vh, 1vh) * 75)
    }

    .sb-wordlist-window {
        overflow-x: auto
    }

    .sb-wordlist-window.paginated {
        height: calc(var(--vh, 1vh) * 75)
    }

    .sb-status-box,
    .sb-wordlist-box,
    .sb-wordlist-drawer {
        display: flex;
        flex-direction: column
    }

    .sb-wordlist-drawer,
    .sb-wordlist-window {
        max-height: none !important
    }

    .sb-expanded .sb-controls {
        opacity: 1
    }

    .pz-mobile .sb-wordlist-box,
    .pz-mobile .sb-progress-box {
        margin-right: 24px
    }

    .sb-progress {
        padding: 12px 12px 12px 0
    }

    .sb-recent-words-wrap {
        top: 0;
        opacity: 0
    }

    .sb-wordlist-summary {
        top: 0;
        opacity: 1
    }

    .sb-toggle-expand {
        display: none
    }

    .sb-wordlist-heading {
        height: 60px;
        line-height: 60px
    }

    .sb-wordlist-summary,
    .sb-recent-words-wrap {
        padding: 0 25px
    }

    .sb-wordlist-pag {
        margin-left: 25px
    }

    .sb-wordlist-items-pag {
        padding: 0 0 24px
    }

    .sb-wordlist-items {
        padding: 0 0 25px 25px
    }

    .sb-wordlist-items>li {
        margin-right: 25px
    }

    .sb-wordlist-items-pag>li {
        margin-right: 25px;
        width: calc(50% - 25px)
    }
}