@-webkit-keyframes slideDown {
    0% {
        transform: translateY(0%)
    }

    90% {
        transform: translateY(0%)
    }

    100% {
        transform: translateY(100%)
    }
}

@keyframes slideDown {
    0% {
        transform: translateY(0%)
    }

    90% {
        transform: translateY(0%)
    }

    100% {
        transform: translateY(100%)
    }
}

@-webkit-keyframes flyIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes flyIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@-webkit-keyframes flyOut {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

@keyframes flyOut {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }

    15% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    15% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

.flexContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%
}

.expandToRow {
    composes: flexContainer
}

@media (min-width: 444px) {
    .expandToRow {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        flex-wrap: nowrap
    }
}

@media (max-width: 991.98px) {
    .mobileColumn {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap
    }
}

.sb-content-box {
    font-family: 'nyt-franklin';
    flex-grow: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-content: stretch
}

.sb-controls-box {
    flex-grow: 4;
    position: relative
}

.sb-controls {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.sb-wordlist-box,
.sb-progress-box {
    margin: 12px
}

.sb-progress-box {
    margin-bottom: 0
}

.sb-wordlist-box {
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    overflow: hidden;
    letter-spacing: 0.005em;
}

.sb-wordlist-box.paginated {
    overflow-y: scroll
}

.sb-wordlist-drawer {
    overflow: hidden;
    max-height: 0;
    transition: max-height 200ms ease
}

.sb-expanded .sb-wordlist-drawer {
    max-height: 50vh
}

.sb-expanded .sb-wordlist-drawer.paginated {
    max-height: calc(var(--vh, 1vh) * 68)
}

.sb-wordlist-window {
    position: relative;
    overflow: hidden;
    height: 50vh
}

.sb-wordlist-window.paginated {
    height: calc(var(--vh, 1vh) * 68)
}

.sb-controls {
    opacity: 1;
    transition: opacity 150ms 200ms ease
}

.sb-expanded .sb-controls {
    opacity: 0;
    transition: opacity 150ms ease;
    pointer-events: none
}

@media (min-width: 768px) {
    .sb-content-box {
        flex-direction: row;
        max-width: 1080px;
        margin: 0 auto
    }

    .sb-status-box {
        width: 50%
    }

    .sb-expanded .sb-wordlist-drawer.paginated {
        max-height: calc(var(--vh, 1vh) * 75)
    }

    .sb-wordlist-window {
        overflow-x: auto
    }

    .sb-wordlist-window.paginated {
        height: calc(var(--vh, 1vh) * 75)
    }

    .sb-status-box,
    .sb-wordlist-box,
    .sb-wordlist-drawer {
        display: flex;
        flex-direction: column
    }

    .sb-wordlist-drawer,
    .sb-wordlist-window {
        max-height: none !important
    }

    .sb-expanded .sb-controls {
        opacity: 1
    }
}

.pz-mobile .pz-game-title-bar {
    display: none
}

.pz-mobile .pz-footer {
    display: none
}

@media (min-width: 768px) {

    .pz-mobile .sb-wordlist-box,
    .pz-mobile .sb-progress-box {
        margin-right: 24px
    }
}

#spelling-bee-container .pz-byline {
    margin: 1px 0 9px
}

.pz-desktop #spelling-bee-container .pz-byline {
    margin: 10px 0 -10px;
    padding-top: 0px
}

.pz-desktop .sb-wordlist-window {
    position: relative;
    overflow: hidden;
    height: 50vh
}

.pz-desktop .sb-wordlist-window.paginated {
    height: calc(var(--vh, 1vh) * 64)
}

.pz-spelling-bee-moments .pz-nav__toolbar-item {
    font-size: 16px
}

.sb-progress {
    padding: 6px 12px 6px 0
}

@media (min-width: 768px) {
    .sb-progress {
        padding: 12px 12px 12px 0
    }
}

.sb-progress,
.sb-progress-dots {
    cursor: pointer;
    display: flex
}

.sb-progress-rank {
    width: 90px;
    font-weight: 700
}

.sb-progress-line {
    flex-grow: 1;
    position: relative;
    height: 9px;
    height: 1px;
    background: #dcdcdc;
    margin-top: 8px
}

.sb-progress-marker {
    width: 0;
    height: 0;
    position: absolute;
    left: 0%;
    transition: left 200ms ease
}

.sb-progress-marker .sb-progress-value {
    position: absolute;
    width: 30px;
    height: 30px;
    line-height: 30px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: #f8cd05;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.5px
}

.sb-progress-marker.final .sb-progress-value {
    border-radius: 0%
}

.sb-progress-dots {
    width: 100%;
    justify-content: space-between
}

.sb-progress-dot {
    display: block;
    width: 0;
    position: relative
}

.sb-progress-dot::after {
    content: '';
    display: block;
    position: absolute;
    left: -4.5px;
    top: -4.5px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #dcdcdc;
    transition: background-color 200ms 100ms ease
}

.sb-progress-dot:last-child::after {
    border-radius: 0%
}

.sb-progress-dot.completed::after {
    background-color: #f8cd05
}

.pz-spelling-bee-wordlist .sb-progress-marker .sb-progress-value {
    background: #f7da21
}

.pz-spelling-bee-wordlist .sb-progress-marker.completed::after {
    background-color: #f7da21
}

.sb-wordlist {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch
}

.sb-wordlist-pag {
    position: relative;
    margin-left: 20px;
    display: flex;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    z-index: 0;
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-margin: 0;
    scroll-behavior: smooth;
    -ms-scroll-chaining: none;
    overscroll-behavior: contain
}

.sb-wordlist-pag::-webkit-scrollbar {
    display: none
}

.sb-wordlist-scroll-anchor {
    width: 100%;
    height: 10px;
    position: absolute;
    scroll-snap-align: start;
    scroll-snap-stop: always
}

.sb-wordlist-items-pag {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    height: calc(100% - 38px);
    padding: 20px 0 24px
}

.sb-wordlist-items-pag.single {
    display: block
}

.sb-wordlist-items-pag>li {
    margin-right: 20px;
    padding: 4px 0 4px 1px;
    margin-bottom: 7px;
    border-bottom: 1px solid #dcdcdc;
    width: calc(50% - 20px)
}

.sb-wordlist-items {
    width: 95%;
    height: 100%;
    padding: 20px 0 25px 20px;
    -moz-column-count: 3;
    column-count: 3;
    -moz-column-gap: 0px;
    column-gap: 0px;
    -moz-column-fill: auto;
    column-fill: auto
}

.sb-wordlist-items>li {
    margin-right: 20px;
    display: block;
    padding: 4px 0;
    margin-bottom: 7px;
    border-bottom: 1px solid #dcdcdc
}

.sb-wordlist-heading {
    position: relative;
    overflow: hidden;
    height: 45px;
    line-height: 45px
}

.sb-placeholder-text {
    color: #ccc
}

.sb-wordlist-summary,
.sb-recent-words-wrap {
    padding: 0 20px;
    position: relative;
    transition: all 270ms ease
}

.sb-wordlist-summary {
    top: -45px;
    opacity: 0;
    font-size: 1em
}

.sb-recent-words-wrap {
    top: -45px
}

.sb-expanded .sb-recent-words-wrap {
    top: 0;
    opacity: 0
}

.sb-expanded .sb-wordlist-summary {
    top: 0;
    opacity: 1
}

.sb-toggle-expand {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #fff;
    box-shadow: 0px 0px 20px 5px #fff;
    transition: all 100ms ease;
    transform-origin: center
}

.sb-toggle-icon {
    position: relative;
    display: block;
    width: 18px;
    height: 18px;
    background: url("./assets/back.svg") center no-repeat;
    background-size: 40%;
    transform: rotate(270deg);
    transition: transform 0.25s linear
}

.sb-toggle-icon-expanded {
    transform: translateY(-1px) rotate(450deg)
}

@media (min-width: 768px) {
    .sb-recent-words-wrap {
        top: 0;
        opacity: 0
    }

    .sb-wordlist-summary {
        top: 0;
        opacity: 1
    }

    .sb-toggle-expand {
        display: none
    }

    .sb-wordlist-heading {
        height: 60px;
        line-height: 60px
    }

    .sb-wordlist-summary,
    .sb-recent-words-wrap {
        padding: 0 25px
    }

    .sb-wordlist-pag {
        margin-left: 25px
    }

    .sb-wordlist-items-pag {
        padding: 0 0 24px
    }

    .sb-wordlist-items {
        padding: 0 0 25px 25px
    }

    .sb-wordlist-items>li {
        margin-right: 25px
    }

    .sb-wordlist-items-pag>li {
        margin-right: 25px;
        width: calc(50% - 25px)
    }
}

@media (min-width: 992px) {
    .sb-wordlist-items-pag>li {
        width: calc(33.33% - 25px)
    }
}

@-webkit-keyframes squishin {
    from {
        opacity: 0;
        max-width: 0px
    }

    to {
        max-width: 200px;
        opacity: 1
    }
}

@keyframes squishin {
    from {
        opacity: 0;
        max-width: 0px
    }

    to {
        max-width: 200px;
        opacity: 1
    }
}

.sb-recent-words {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.sb-recent-words>li {
    max-width: 200px;
    display: inline-block;
    padding-right: 7px;
    -webkit-animation: squishin 700ms ease;
    animation: squishin 700ms ease
}

.sb-anagram {
    text-transform: capitalize;
    font-size: 1em
}

.sb-kebob {
    justify-content: center;
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 14px;
    margin: 0 0 24px
}

.sb-bob {
    display: inline-block;
    height: 8px;
    width: 8px;
    background-color: #dcdcdc;
    border-radius: 50%;
    margin: 3px 10px;
    transition: all 250ms ease
}

.sb-bob.active {
    background-color: #000
}

.sb-bob-arrow {
    border: 0;
    opacity: 0;
    visibility: hidden;
    background: url("./assets/back.svg") center no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 0;
    height: 14px;
    transition: all 250ms ease;
    cursor: pointer
}

.sb-bob-arrow.sb-bob-prev {
    left: 25px
}

.sb-bob-arrow.sb-bob-next {
    right: 25px;
    transform: rotate(180deg)
}

.sb-bob-arrow.active {
    opacity: 1;
    visibility: inherit
}

.sb-bob-arrow .sb-bob-text {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0)
}

@-webkit-keyframes blink {

    from,
    to {
        opacity: 1
    }

    50% {
        opacity: 0
    }
}

@keyframes blink {

    from,
    to {
        opacity: 1
    }

    50% {
        opacity: 0
    }
}

@-webkit-keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0)
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0)
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0)
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0)
    }
}

@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0)
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0)
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0)
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0)
    }
}

.sb-hive-input {
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: .5px;
    text-rendering: optimizeLegibility;
    line-height: 40px;
    height: 40px;
    padding-top: 2px;
    padding-right: 14px;
    text-align: center
}

.sb-hive-input-content {
    display: inline-block;
    position: relative;
    transform: translateY(0%)
}

.sb-hive-input-content.non-empty {
    padding-left: 14px
}

.sb-hive-input-content.has-error {
    -webkit-animation: shake 0.9s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    animation: shake 0.9s cubic-bezier(0.36, 0.07, 0.19, 0.97) both
}

.sb-hive-input-content::after {
    content: '';
    display: block;
    position: absolute;
    right: -4px;
    top: 0;
    width: 2px;
    height: 40px;
    background: #f8cd05;
    -webkit-animation: 1000ms blink step-end infinite;
    animation: 1000ms blink step-end infinite
}

.sb-game-locked .sb-hive-input-content::after {
    display: none
}

.sb-input-bright {
    color: #f8cd05
}

.sb-input-invalid {
    color: #dcdcdc
}

@media (max-width: 350px) {
    .sb-hive-input {
        font-size: 8vw
    }
}

.pz-spelling-bee-wordlist::after {
    background: #f7da21
}

.pz-spelling-bee-wordlist .sb-input-bright {
    color: #f7da21
}

@keyframes slideDown {
    0% {
        transform: translateY(0%)
    }

    90% {
        transform: translateY(0%)
    }

    100% {
        transform: translateY(100%)
    }
}

@keyframes flyIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes flyOut {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    15% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

.flexContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%
}

.expandToRow {
    composes: flexContainer
}

@media (min-width: 444px) {
    .expandToRow {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        flex-wrap: nowrap
    }
}

@media (max-width: 991.98px) {
    .mobileColumn {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap
    }
}

.sb-controls {
    width: 90vw;
    max-width: 290px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    padding-bottom: 45px
}

.sb-hive {
    width: 90%;
    margin: 25px auto;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.hive {
    position: relative;
    width: 100%;
    padding-bottom: 103.92305%
}

.hive .cell-letter {
    font-weight: 700;
    font-size: 30px;
    text-anchor: middle;
    text-transform: uppercase;
    pointer-events: none
}

.hive.shuffling .outer>.cell-letter {
    opacity: 0
}

.hive.fade-out .outer>.cell-letter {
    opacity: 0;
    transition: opacity .3s
}

.hive.fade-in .outer>.cell-letter {
    opacity: 1;
    transition: opacity .3s
}

.hive-cell {
    position: absolute;
    top: calc(100% / 3);
    left: 30%;
    width: 40%;
    height: calc(100% / 3)
}

.hive-cell .cell-fill {
    cursor: pointer;
    fill: #e6e6e6;
    transition: all 100ms
}

.hive-cell .cell-fill.push-active {
    fill: #d9d9d9
}

.hive-cell:first-child .cell-fill {
    cursor: pointer;
    fill: #f8cd05;
    transition: all 100ms
}

.hive-cell:first-child .cell-fill.push-active {
    fill: #dfb804
}

.hive-cell>.cell-fill.push-active {
    transform: scale3d(0.86, 0.86, 1);
    transform-origin: center center
}

.hive-cell:nth-child(1) {
    transform: translate(0, 0)
}

.hive-cell:nth-child(2) {
    transform: translate(-75%, -50%)
}

.hive-cell:nth-child(3) {
    transform: translate(0, -100%)
}

.hive-cell:nth-child(4) {
    transform: translate(75%, -50%)
}

.hive-cell:nth-child(5) {
    transform: translate(75%, 50%)
}

.hive-cell:nth-child(6) {
    transform: translate(0, 100%)
}

.hive-cell:nth-child(7) {
    transform: translate(-75%, 50%)
}

.hive-actions {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap
}

.hive-action {
    padding: 15px 0;
    min-width: 90px;
    flex: 1;
    background-color: white;
    font-size: 1.125em;
    margin: 0 12px;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 40px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer
}

.hive-action.push-active,
.hive-action.action-active {
    background-color: #ededed
}

.hive-action__shuffle {
    background: url("./assets/shuffle.svg") center no-repeat;
    background-size: 60%;
    height: 50px;
    min-width: 50px
}

@media (max-width: 375.98px) {
    .sb-hive {
        width: 70%;
        margin: 4vh auto
    }

    .hive .cell-letter {
        font-size: 40px
    }
}

@media (max-width: 370px) {
    .sb-hive {
        width: 55%
    }

    .sb-controls {
        padding-bottom: 10px
    }
}

.pz-spelling-bee-wordlist .hive-cell:first-child .cell-fill {
    cursor: pointer;
    fill: #f7da21;
    transition: all 100ms
}

.pz-spelling-bee-wordlist .hive-cell:first-child .cell-fill.push-active {
    fill: #f6d609
}

.pz-spelling-bee-wordlist .hive-action {
    font-size: 1em;
    border-color: #dcdcdc;
    margin: 0 10px;
    letter-spacing: 0.01em
}

.pz-spelling-bee-wordlist .hive-action__shuffle {
    height: 48px;
    min-width: 48px
}

.pz-games-app {
    background-color: #f7da21;
    transition: background-color 600ms
}

.pz-games-app .pz-header {
    position: fixed
}

.pz-games-app .pz-nav__title,
.pz-games-app .pz-game-toolbar {
    display: none
}

.pz-games-app .pz-nav {
    opacity: 0
}

.pz-games-app .pz-nav.show-mobile-toolbar {
    opacity: 1
}

.pz-hybrid * {
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

@-webkit-keyframes pop {
    from {
        opacity: 0;
        bottom: 0px
    }

    20% {
        opacity: 1
    }

    80% {
        opacity: 1
    }

    to {
        opacity: 0;
        bottom: 10px
    }
}

@keyframes pop {
    from {
        opacity: 0;
        bottom: 0px
    }

    20% {
        opacity: 1
    }

    80% {
        opacity: 1
    }

    to {
        opacity: 0;
        bottom: 10px
    }
}

@-webkit-keyframes float {
    from {
        opacity: 0;
        bottom: 8px
    }

    50% {
        opacity: 1
    }

    60% {
        opacity: 1
    }

    to {
        opacity: 0;
        bottom: 23px
    }
}

@keyframes float {
    from {
        opacity: 0;
        bottom: 8px
    }

    50% {
        opacity: 1
    }

    60% {
        opacity: 1
    }

    to {
        opacity: 0;
        bottom: 23px
    }
}

@-webkit-keyframes fade-show {

    from,
    to {
        opacity: 0
    }

    20% {
        opacity: 1
    }

    70% {
        opacity: 1
    }
}

@keyframes fade-show {

    from,
    to {
        opacity: 0
    }

    20% {
        opacity: 1
    }

    70% {
        opacity: 1
    }
}

.sb-message-box {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translate(-50%, 0)
}

.sb-message {
    display: inline-block;
    position: relative;
    padding: 8px 14px;
    border-radius: 3px;
    bottom: 10px;
    font-size: 14px;
    background: #fff;
    border: solid 1px #dcdcdc;
    min-width: 65px
}

.success-message .sb-message {
    white-space: nowrap;
    opacity: 0;
    -webkit-animation: 780ms pop cubic-bezier(0.375, 0.25, 0.315, 0.89);
    animation: 780ms pop cubic-bezier(0.375, 0.25, 0.315, 0.89)
}

.error-message .sb-message {
    opacity: 0;
    -webkit-animation: 1100ms fade-show cubic-bezier(0.645, 0.045, 0.355, 1);
    animation: 1100ms fade-show cubic-bezier(0.645, 0.045, 0.355, 1);
    background: #000;
    color: #fff;
    border: none
}

.pangram-message .sb-message {
    background: #f8cd05;
    color: #000;
    border: none
}

.sb-message-points {
    display: block;
    position: absolute;
    bottom: 10px;
    right: -36px;
    opacity: 0;
    font-weight: 700;
    -webkit-animation: 790ms float cubic-bezier(0.375, 0.25, 0.315, 0.89);
    animation: 790ms float cubic-bezier(0.375, 0.25, 0.315, 0.89)
}

.pz-spelling-bee-wordlist .pangram-message .sb-message {
    background: #f7da21
}

@keyframes slideDown {
    0% {
        transform: translateY(0%)
    }

    90% {
        transform: translateY(0%)
    }

    100% {
        transform: translateY(100%)
    }
}

@keyframes flyIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes flyOut {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    15% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

.flexContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%
}

.expandToRow {
    composes: flexContainer
}

@media (min-width: 444px) {
    .expandToRow {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        flex-wrap: nowrap
    }
}

@media (max-width: 991.98px) {
    .mobileColumn {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap
    }
}

.sb-modal-open .sb-modal-wrapper {
    opacity: 1;
    transform: scale(1);
    transition: all 150ms
}

.sb-modal-wrapper,
.sb-modal-closing .sb-modal-wrapper {
    opacity: 0;
    transform: scale(0.9)
}

.sb-modal-scrim {
    z-index: 4;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    background: rgba(255, 255, 255, 0.85);
    opacity: 0;
    transition: opacity 150ms
}

.sb-modal-scrim:hover {
    cursor: pointer
}

.sb-modal-frame {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    background: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 7px;
    box-shadow: 0 4px 23px 0 rgba(0, 0, 0, 0.08);
    cursor: default;
    position: relative;
    text-align: center;
    padding: 50px;
    margin-top: auto;
    margin-bottom: auto
}

@media (max-width: 375.98px) {
    .sb-modal-frame {
        padding: 30px
    }

    .sb-modal-frame.left-aligned {
        padding: 20px
    }
}

.sb-modal-close {
    color: #959595;
    cursor: pointer;
    font-size: 2em;
    font-weight: lighter;
    line-height: 2em;
    position: absolute;
    top: 0;
    right: 25px
}

.sb-modal-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    position: relative;
    height: 100%;
    z-index: 2;
    overflow-y: auto;
    padding: 15px 0;
    cursor: default
}

.sb-modal-open .sb-modal-scrim {
    pointer-events: all;
    opacity: 1
}

.sb-modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    transition: all 150ms;
    font: 500 18px nyt-franklin;
    width: 300px;
    max-width: calc(90vw - (30px * 2))
}

.left-aligned .sb-modal-content {
    max-width: calc(90vw - (20px * 2))
}

.sb-modal-content>* {
    width: 100%
}

.sb-modal-content>*:not(:first-child) {
    margin-top: 12.5px
}

.sb-modal-content>*:not(:last-child) {
    margin-bottom: 12.5px
}

@media (max-width: 375.98px) {
    .sb-modal-content>*:not(:first-child) {
        margin-top: 10px
    }

    .sb-modal-content>*:not(:last-child) {
        margin-bottom: 10px
    }
}

.sb-modal-title {
    font: 700 38px nyt-karnak;
    max-width: 85%
}

.sb-modal-wordlist {
    height: 240px;
    position: relative;
    width: calc(100% + 50px)
}

@media (max-width: 375.98px) {
    .sb-modal-wordlist {
        width: calc(100% + 20px)
    }
}

.sb-modal-wordlist .sb-modal-wordlist-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: 100%;
    width: calc(100% - 5px);
    overflow-x: auto;
    position: absolute
}

.sb-modal-wordlist .sb-modal-wordlist-items li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    border-bottom: 1px solid #e6e6e6;
    margin: 5px 10px;
    width: 100px
}

.sb-modal-wordlist .sb-modal-wordlist-items li .check {
    border: solid #f8cd05;
    border-width: 0 3px 3px 0;
    width: 9px;
    height: 18px;
    transform: rotate(45deg) translate(-3px, -3px)
}

.sb-modal-letters {
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase
}

.sb-modal-letters::first-letter {
    color: #f8cd05
}

.left-aligned .sb-modal-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    font-size: 15px;
    text-align: left
}

@media (max-width: 375.98px) {
    .left-aligned .sb-modal-content {
        font-size: 14px
    }
}

.left-aligned .sb-modal-content .sb-modal-title {
    font: 500 24px nyt-karnak
}

.left-aligned .sb-modal-content .sb-modal-heading {
    font-weight: 700
}

.left-aligned .sb-modal-content ul.sb-modal-list {
    line-height: 1.4;
    list-style-type: disc;
    margin-left: 20px;
    width: calc(100% - 20px)
}

.sb-modal-message {
    line-height: 1.39
}

.sb-modal-message a {
    color: #5aa0d5;
    text-decoration: underline
}

.sb-modal-buttons-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: -15px
}

.sb-modal-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    background-color: #fff;
    border: 1px solid #dcdcdc;
    color: #333;
    transition: background-color 150ms;
    border-radius: 30px;
    cursor: pointer;
    font: inherit;
    margin-bottom: 15px;
    padding: 15px;
    text-rendering: auto;
    width: 142px;
    transition: opacity 200ms ease
}

.sb-modal-button:hover {
    background-color: #f2f2f2
}

.sb-modal-button:active {
    background-color: #e6e6e6
}

@media (max-width: 375.98px) {
    .sb-modal-button {
        width: 100%
    }
}

.sb-modal-button.primary {
    background-color: #5aa0d5;
    border: none;
    color: #fff;
    transition: background-color 150ms;
    font-weight: 700;
    text-transform: uppercase
}

.sb-modal-button.primary:hover {
    background-color: #4694d0
}

.sb-modal-button.primary:active {
    background-color: #3388c9
}

.sb-modal-button.primary,
.sb-modal-button:only-child {
    width: 100%
}

.sb-modal-button.disabled {
    opacity: 0.5
}

.sb-modal-image {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat
}

.sb-modal-image.bee-ready {
    background-image: url("./assets/bee-ready-0.svg");
    height: 88px;
    width: 92px
}

.sb-modal-image.bee-sleepy {
    background-image: url("./assets/bee-sleepy-0.svg");
    height: 89px;
    width: 113px
}

.sb-modal-image.bee-queen {
    background-image: url("./assets/bee-queen-0.svg");
    height: 117px;
    width: 92px
}

.sb-modal-image.bee-smarty {
    background-image: url("./assets/bee-smarty-0.svg");
    height: 125px;
    width: 92px
}

.sb-modal-image.bee-spooky {
    background-image: url("./assets/bee-spooky-0.svg");
    height: 125px;
    width: 92px
}

.sb-modal-image.bee-mused {
    background-image: url("./assets/bee-mused-0.svg");
    height: 119px;
    width: 93px
}

.sb-modal-image.bee-loved {
    background-image: url("./assets/bee-loved-0.svg");
    height: 87px;
    width: 115px
}

.pz-mobile .sb-modal-scrim {
    position: fixed;
    top: 45px
}

.welcome-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    max-width: 200px
}

.welcome-modal>* {
    margin: 7px 0
}

.welcome-modal .sb-modal-buttons-section {
    max-width: 200px;
    margin-top: 10px
}

.welcome-modal .pz-modal__message {
    margin-top: 1px
}

.pz-desktop .welcome-modal .pz-byline {
    display: none
}

.pz-mobile .welcome-modal .pz-byline {
    height: initial
}

.sb-modal-frame.start,
.sb-modal-frame.cutoff {
    max-width: 275px;
    padding: 30px 30px 15px;
    box-shadow: 0 4px 23px 0 rgba(0, 0, 0, 0.2);
    border: none
}

.sb-modal-frame.cutoff .pz-modal__title {
    font-size: 36px
}

.pz-modal-message {
    font-size: 15px;
    line-height: 19px;
    margin-top: 3px;
    margin-bottom: 9px
}

.pz-spelling-bee-wordlist .sb-modal-wordlist-items li .check {
    border-color: #f8cd05
}

.pz-spelling-bee-wordlist .sb-modal-letters::first-letter {
    color: #f8cd05
}

.pz-spelling-bee-congrats .sb-modal-frame {
    border: 0;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.12);
    align-items: start;
    width: 100%;
    font: -apple-system-body
}

.pz-spelling-bee-congrats .sb-modal-scrim {
    background-color: rgba(250, 250, 250, 0.86);
    top: 0;
    z-index: 101
}

.pz-spelling-bee-congrats .sb-modal-open .sb-modal-wrapper {
    padding: 30px 0 0;
    overflow: hidden;
    transform: translate(0, 0)
}

.pz-spelling-bee-congrats .sb-modal-wrapper,
.pz-spelling-bee-congrats .sb-modal-closing .sb-modal-wrapper {
    transform: translate(0, 100%)
}

.pz-spelling-bee-congrats .sb-modal-close {
    color: #000;
    font: 500 28px/1 nyt-franklin;
    padding: 15px 21px;
    position: fixed;
    top: 30px;
    right: 0
}

.pz-spelling-bee-congrats .sb-modal-message {
    line-height: 1.25
}

.pz-spelling-bee-congrats .sb-modal-message a {
    color: #477aaa;
    text-decoration: none
}

.pz-spelling-bee-congrats .left-aligned.sb-modal-frame {
    position: absolute;
    top: 30px;
    bottom: 0;
    padding: 0
}

.pz-spelling-bee-congrats .left-aligned .sb-modal-content {
    font: 500 1em/1.5 nyt-franklin;
    width: 100%;
    max-width: 100%;
    height: 100%;
    justify-content: flex-start
}

.pz-spelling-bee-congrats .left-aligned .sb-modal-content .sb-modal-header {
    padding: 44px 32px 0
}

.pz-spelling-bee-congrats .left-aligned .sb-modal-content .sb-modal-body {
    padding: 0 32px 44px;
    overflow-y: auto;
    display: flex;
    flex-direction: column
}

.pz-spelling-bee-congrats .left-aligned .sb-modal-content .sb-modal-body>*:not(:first-child) {
    margin-top: 10px
}

.pz-spelling-bee-congrats .left-aligned .sb-modal-content .sb-modal-body>*:not(:last-child) {
    margin-bottom: 10px
}

.pz-spelling-bee-congrats .left-aligned .sb-modal-content .sb-modal-body::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    height: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 56.65%, #fff 100%);
    opacity: 0;
    transition: all 150ms
}

.pz-spelling-bee-congrats .left-aligned .sb-modal-content .sb-modal-body.has-overflow::after {
    opacity: 1;
    height: 100px
}

.pz-spelling-bee-congrats .left-aligned .sb-modal-content .sb-modal-body .sb-modal-heading {
    margin-bottom: 0
}

.pz-spelling-bee-congrats .left-aligned .sb-modal-content .sb-modal-body .sb-modal-heading+.sb-modal-list {
    margin-top: 0
}

.pz-spelling-bee-congrats .left-aligned .sb-modal-content .sb-modal-title {
    font: 700 1.75em/1.0714 nyt-karnakcondensed;
    margin: 4px 0 0;
    max-width: 100%
}

.pz-spelling-bee-congrats .left-aligned .sb-modal-content .sb-modal-subtitle {
    font: 500 1.25em/1.2 nyt-karnak;
    margin-top: 4px
}

.pz-spelling-bee-congrats .left-aligned .sb-modal-content .sb-modal-title+.sb-modal-message {
    margin-top: 8px
}

.pz-spelling-bee-congrats .left-aligned .sb-modal-content .sb-modal-rank {
    font-weight: 700
}

.pz-spelling-bee-congrats .left-aligned .sb-modal-content .sb-modal-list li {
    line-height: 1.25;
    padding: 2px 0
}

.pz-spelling-bee-congrats .left-aligned .sb-modal-content .sb-modal-date__yesterday {
    margin-top: 8px;
    font: 600 1em/1.25 nyt-franklin;
    letter-spacing: 0.005em;
    margin-bottom: 28px;
    max-width: 100%
}

.pz-spelling-bee-congrats .left-aligned .sb-modal-content .sb-modal-letters {
    font: 800 1em/1.25 nyt-franklin;
    letter-spacing: 0.4em;
    margin-bottom: 1px
}

.pz-spelling-bee-congrats .left-aligned.yesterday .sb-modal-header {
    margin-bottom: 0
}

.pz-spelling-bee-congrats .left-aligned.yesterday .sb-modal-body {
    margin-top: 0;
    padding-right: 0
}

.pz-spelling-bee-congrats .sb-modal-wordlist-items {
    -moz-column-count: 2;
    column-count: 2;
    -moz-column-gap: 25px;
    column-gap: 25px;
    -moz-column-width: 120px;
    column-width: 120px;
    width: calc(120px * 2 + 25px * (2 - 1))
}

.pz-spelling-bee-congrats .sb-modal-wordlist-items li {
    position: relative;
    width: 100%;
    -moz-column-break-inside: avoid;
    break-inside: avoid-column;
    border-bottom: 1px solid #dcdcdc;
    line-height: 1.5;
    letter-spacing: 0.005em;
    padding-top: 7px;
    padding-left: 24px
}

.pz-spelling-bee-congrats .sb-modal-wordlist-items li .check {
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    position: absolute;
    left: 4px;
    bottom: 0.2em;
    width: 8.5px
}

.pz-spelling-bee-congrats .sb-modal-wordlist-items li .check.checked {
    border: solid #f8cd05;
    border-width: 0 3px 3px 0;
    height: 17px;
    transform: rotate(45deg) translate(-3px, -3px)
}

.pz-spelling-bee-congrats .sb-modal-wordlist-items li .sb-anagram {
    font-size: 1em
}

.pz-spelling-bee-congrats .sb-modal-wordlist-items li .sb-anagram.pangram {
    font-weight: 700
}

@media (min-width: 768px) {
    .pz-spelling-bee-congrats .sb-modal-scrim {
        z-index: 4
    }

    .pz-spelling-bee-congrats .sb-modal-frame {
        width: 540px;
        height: auto;
        max-height: 600px;
        box-shadow: 0 0 23px 0 rgba(0, 0, 0, 0.08)
    }

    .pz-spelling-bee-congrats .sb-modal-close {
        position: absolute;
        top: 0
    }

    .pz-spelling-bee-congrats .left-aligned.sb-modal-frame {
        position: relative;
        top: 0
    }

    .pz-spelling-bee-congrats .left-aligned .sb-modal-content {
        max-height: 600px
    }

    .pz-spelling-bee-congrats .left-aligned .sb-modal-content .sb-modal-header,
    .pz-spelling-bee-congrats .left-aligned .sb-modal-content .sb-modal-body {
        padding-left: 44px;
        padding-right: 44px
    }

    .pz-spelling-bee-congrats .left-aligned .sb-modal-content .sb-modal-title {
        font-size: 2em;
        line-height: 1.0625
    }

    .pz-spelling-bee-congrats .left-aligned .sb-modal-content .sb-modal-subtitle {
        font-size: 1.5em;
        line-height: 1.1667
    }

    .pz-spelling-bee-congrats .sb-modal-wordlist-items {
        -moz-column-count: 3;
        column-count: 3;
        -moz-column-gap: 25px;
        column-gap: 25px;
        -moz-column-width: 120px;
        column-width: 120px;
        width: calc(120px * 3 + 25px * (3 - 1))
    }
}

@media (min-width: 992px) {

    .pz-spelling-bee-congrats.pz-desktop .sb-modal-wrapper,
    .pz-spelling-bee-congrats.pz-desktop .sb-modal-closing .sb-modal-wrapper {
        transform: scale(0.9)
    }

    .pz-spelling-bee-congrats.pz-desktop .sb-modal-open .sb-modal-wrapper {
        transform: scale(1)
    }

    .pz-spelling-bee-congrats.pz-desktop .sb-modal-frame {
        width: 667px;
        max-height: 600px
    }

    .pz-spelling-bee-congrats.pz-desktop .left-aligned .sb-modal-content .sb-modal-header,
    .pz-spelling-bee-congrats.pz-desktop .left-aligned .sb-modal-content .sb-modal-body {
        padding-left: 56px;
        padding-right: 158px
    }

    .pz-spelling-bee-congrats.pz-desktop .left-aligned .sb-modal-content .sb-modal-title {
        font-size: 2.125em;
        line-height: 1.0588
    }

    .pz-spelling-bee-congrats.pz-desktop .left-aligned .sb-modal-content .sb-modal-subtitle {
        font-size: 1.625em;
        line-height: 1.1538
    }

    .pz-spelling-bee-congrats.pz-desktop .sb-modal-wordlist-items {
        -moz-column-count: 3;
        column-count: 3;
        -moz-column-gap: 25px;
        column-gap: 25px;
        -moz-column-width: 160px;
        column-width: 160px;
        width: calc(160px * 3 + 25px * (3 - 1))
    }
}

.free-banner__logo.spelling-bee::before {
    content: '';
    display: inline-block;
    width: 21px;
    height: 20px;
    position: absolute;
    left: -30px;
    top: -6px;
    background: url("./assets/bee-ready-0.svg") no-repeat;
    background-size: contain
}

.messaging-banner__logo.spelling-bee::before {
    background: url("./assets/spelling-bee.svg") no-repeat center
}

.pz-intercept {
    display: none
}

.pz-intercept::after {
    background: top calc(35vh - 50px) center no-repeat url("./assets/bee-turned.svg");
    content: 'Oh no! We can’t fit everything on your screen. Please rotate your device.';
    font-size: 18px;
    line-height: 1.5;
    margin: auto;
    padding-top: 60vh;
    text-align: center;
    width: 350px
}

@keyframes slideDown {
    0% {
        transform: translateY(0%)
    }

    90% {
        transform: translateY(0%)
    }

    100% {
        transform: translateY(100%)
    }
}

@keyframes flyIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes flyOut {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    15% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

.flexContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%
}

.expandToRow {
    composes: flexContainer
}

@media (min-width: 444px) {
    .expandToRow {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        flex-wrap: nowrap
    }
}

@media (max-width: 991.98px) {
    .mobileColumn {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap
    }
}

.sb-offline-ticker {
    background-color: #959595;
    color: white;
    line-height: 40px;
    font-size: 14px;
    height: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0 12px;
    text-align: center;
    transition: all 0.5s ease-in-out
}

.sb-offline-ticker.is-offline {
    height: 40px;
    opacity: 1
}

@keyframes slideDown {
    0% {
        transform: translateY(0%)
    }

    90% {
        transform: translateY(0%)
    }

    100% {
        transform: translateY(100%)
    }
}

@keyframes flyIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes flyOut {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    15% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

.flexContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%
}

.expandToRow {
    composes: flexContainer
}

@media (min-width: 444px) {
    .expandToRow {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        flex-wrap: nowrap
    }
}

@media (max-width: 991.98px) {
    .mobileColumn {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap
    }
}

.login-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    display: block;
    position: fixed;
    padding: 15px 30px 15px 45px;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 44px;
    border-top: 1px solid #000;
    background: #fff;
    z-index: 1000;
    overflow: hidden;
    color: #000;
    margin: 0;
    text-align: left
}

.login-banner.slide-down {
    -webkit-animation: slideDown ease-in-out 8s;
    animation: slideDown ease-in-out 8s;
    transform: translateY(100%)
}

.login-banner__text {
    font-family: 'nyt-franklin';
    font-size: 14px;
    line-height: 20px
}

.login-banner__text strong {
    font-weight: 700
}

.login-banner__action {
    font-size: 14px;
    font-weight: 700;
    margin-left: 5px;
    text-decoration: underline;
    display: inline-block
}