@import './inc/colors';

$version: '{{version}}';
$cacheId: '{{cacheId}}';

//noinspection CssUnknownProperty
html {
    line-height: 1.15;
    text-size-adjust: 100%;
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-size: 1.6rem;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
    background: var(--body-bg-color);
    color: var(--site-text-color);
}

main {
    &.wrapper {
        padding: 10rem 0 3rem 0;
    }
}

h1 {
    margin: 0;
    flex-grow: 2;
}

h2 {
    margin: 3rem 0 1rem;
    font-size: 2rem;
}

h3 {
    margin: 3rem 0 .8rem;
    font-size: 1.7rem;
}

p,
ul,
ol {
    margin: 0 0 1rem;
}

.rgt {
    text-align: right;
}

:target {
    scroll-margin-top: 120px;
}

a {
    background-color: transparent;
    color: var(--link-color);

    &:hover {
        text-decoration: none;
        color: var(--link-hover-color);
    }

    &:visited {
        color: var(--link-visited-color);
    }
}

.emoji {
    font-weight: bolder;
    font-size: 1.8rem;
    // @see https://css-tricks.com/snippets/css/system-font-stack/
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}



svg.symbols {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
}


.toolbar {
    svg {
        width: 1.6rem;
        height: 1.6rem;
        display: inline-block;
        position: relative;
        margin-right: .5rem;
        fill: var(--site-text-color);
        z-index: 0;

        &.drag {
            top: .3rem;
        }

        &.inactive {
            transform: rotate(180deg);
        }
    }

    li {
        margin-bottom: .5rem;

        &>a:first-of-type {
            display: inline-block;
            width: 1.6rem;
            height: 1.6rem;
            position: relative;
            top: .3rem;
            z-index: 1;

            &:after {
                content: '';
                display: inline-block;
                width: 1.6rem;
                height: 1.6rem;
                position: absolute;
                left: 0;
                top: .3rem;
                z-index: 2;
            }
        }
    }
}

img {
    border-style: none;
    vertical-align: middle;
    max-width: 100%;
}

[data-footer] {
    display: block;

    &::after {
        content: attr(data-footer);
        display: block;
        color: currentColor;
        opacity: .6;
        font-size: .95rem;
        text-align: right;
        line-height: 2rem;
        padding: 0 1rem .5rem 1rem;
        margin-top: -.5rem;
    }
}

::selection {
    background: var(--highlight-bg-color);
}

.legacy-browser {
    .legacy {
        font-weight: bold;
        color: firebrick
    }

    .modern {
        display: none;
    }
}

.modern-browser {
    .legacy {
        display: none;
    }
}

header {
    position: fixed;
    border-bottom: 1px solid var(--border-color);
    width: 100%;
    padding: 2rem 0;
    top: 0;
    z-index: 10;
    background: var(--body-bg-color);
    color: var(--site-text-color);

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    ul {
        padding: 1.5rem 0 0 0;
        margin: 0;
        list-style: none;
        display: flex;

        svg {
            width: 2.2rem;
            height: 2.2rem;
            display: inline-block;
            position: relative;
            top: -.1rem;
            z-index: 0;
            margin-right: 1rem;
        }
    }
}

#logo {
    margin-right: 2rem;
}


.wrapper {
    margin: 0 auto;
    width: 102.4rem;
    max-width: calc(100vw - 5rem);
    padding: 0;
    position: relative;
}

.intro {
    display: flex;
    align-items: flex-start;
    padding-top: 3rem;

    .intro-text {
        flex-grow: 2;
        margin-right: 2rem;

        p:first-of-type {
            padding-top: 1.2rem
        }
    }

    .img-box {
        margin: 0;
        background-position-y: 1.5rem;

        img {
            margin-top: 0;
        }
    }

    .start-up-img {
        min-width: 16rem;
        height: 26.5rem;
        padding-top: 1.5rem;
    }
}

.install-source {
    display: flex;
    flex-direction: column;

    img {
        border: {
            width: .1rem;
            color: var(--border-color);
            style: solid;
            radius: .1rem
        }

        margin-bottom: .6rem;
        width: 140px;

        &.bookmarklet {
            cursor: move;
        }
    }
}


.extras {
    .img-box {
        float: none;
        display: inline-block;
    }
}

section {
    &:after {
        content: '';
        clear: left;
        display: block;
    }
}

.lft {
    float: left;
    margin: .5rem 2rem .3rem 0;
}

.flx {
    display: flex;
}

.clr {
    clear: both;
}

.screen {
    img {

        display: block;
        border: {
            width: .1rem;
            color: var(--border-color);
            style: solid;
            radius: .8rem;
        }
        margin-bottom: 1.5rem;
    }
}

.img-box {
    margin: 0;
    position: relative;

    border: {
        width: .1rem;
        color: var(--border-color);
        style: solid;
        radius: .8rem;
    }

    background: {
        color: var(--body-bg-color);
        size: calc(100% - 1.6rem);
    }

    img {
        display: block;
        margin: .8rem;
        max-width: calc(100% - 1.6rem);
    }

    &.hive-box {
        shape-outside: circle(55% at 42% 44%);
        padding: 1.5rem 4rem 4rem 0;
        float: left;
        position: static;
        border: none;
        max-width: 60%;
    }

    svg {
        width: 20rem;
        max-width: 100%;
    }
}

figure {
    margin: 0;
    padding: 0;
}

figcaption {
    font-size: 1.2rem;
    padding: .3rem 0 .6rem 0;
    text-align: center;
}

textarea {
    padding: 1rem;
    display: block;
    width: 100%;
    min-height: 3rem;
    color: var(--site-text-color);
    font: 1.5rem Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}

.help {
    cursor: help;
}

$cardMargin: 2rem;

textarea.card {
    min-height: 10rem;
    padding-bottom: 1.1rem;
}

#features .card {
    min-height: 27rem;
}

#requirement-chart {
    overflow: auto;

    svg {
        display: inline-block;
        width: 1.2rem;
        height: 1.2rem;
        fill: var(--success-color);
        position: relative;
        top: .2rem;
        margin: 0 .2rem
    }

    figcaption {
        text-align: left
    }

    margin-bottom: 1.5rem;
}

table {
    border: {
        width: .1rem;
        color: var(--border-color);
        style: solid;
        radius: .9rem;
        collapse: collapse;
        spacing: 0;
    }
}

th {
    font-weight: bold;
}

th,
td {
    border: 1px solid var(--border-color);
    text-align: left;
    padding: .2rem 1rem;
    font-size: 1.3rem;
    white-space: nowrap;
}

tr:nth-child(n+1) td:nth-child(n+2) {
    text-align: center;
}

.card {
    border: {
        width: .1rem;
        color: var(--border-color);
        style: solid;
        radius: .9rem
    }

    line-height: 1.5;
    padding: 1.1rem 1.5rem .5rem 1.5rem;
    margin-bottom: $cardMargin;
    background: var(--card-color);

    ul {
        margin: 0 0 1rem 0;
        padding: 0;
        list-style: none;

        &.score-so-far {
            position: relative;
            left:  2rem;

            strong {
                display: inline-block;
                width: 1.6rem;
                position: relative;
                top: -.2rem;
                font-size: 1.3rem;
            }
        }
    }


    figure {
        &:not(.auto-height) {
            min-height: 19rem;
        }
    }


    &:after {
        content: '';
        clear: left;
        display: block;
    }

}

#features,
#installation {
    &>ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
}

.card-listing {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(2, 1fr);
    column-gap: $cardMargin;
    position: relative;
    overflow: hidden;
    font-size: 1.5rem;
    line-height: 1.5;

    h3 {
        margin-top: 0;
        font-size: 1.5rem;
    }
}

map,
area {
    outline: none !important;
}

@media screen and (max-width: 830px) {
    .card-listing {
        display: block
    }
}


@media screen and (max-width: 990px) {
    .intro {
        .intro-text {
            p:first-of-type {
                padding-top: 0
            }
        }
    }
}

@media screen and (max-width: 768px) {

    .desktop-only {
        display: none;
    }

    .intro {
        display: block;
    }
}

@media screen and (max-width: 540px) {
    h1 {
        font-size: 2.2rem;
    }

    .card {
        min-height: auto;
        padding-bottom: 1.1rem;

        figure {
            min-height: auto;
        }

        ul {
            clear: left
        }
    }

    #logo {
        margin-right: 1rem;
        width: 3.5rem;
    }
}

@media screen and (max-width: 400px) {

    .img-box {
        float: none;
        display: inline-block;
        margin-bottom: 1.5rem
    }

    header {
        .wrapper {

            display: flex;
            justify-content: flex-start;
            align-items: start;
            min-height: 5rem;
        }

        ul {
            position: absolute;
            right: 0;
            top: 2.5rem;

            .github {
                display: none;
            }
        }
    }
}