@import './inc/colors';

html {
    line-height: 1.15;
    text-size-adjust: 100%;
    color: #222;
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font: 1.6rem/1.6 -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}

main {
    &.wrapper {
        padding-top: 10rem;
    }
}

h1 {
    margin: 0;
}

h2 {
    margin: 2rem 0 1rem;
}

h3 {
    margin: 1.5rem 0 .8rem
}

p,
ul,
ol {
    margin: 0 0 1rem;
}

a {
    background-color: transparent;
    color: #326891;

    &:hover {
        text-decoration: none;
    }

    &:visited {
        color: #326891;
    }
}

strong {
    font-weight: bolder;
}

img {
    border-style: none;
    vertical-align: middle;
    max-width: 100%;
}

::selection {
    background: $colorHighlight;
}

header {
    position: fixed;
    border-bottom: 1px solid $colorBorder;
    width: 100%;
    background: white;
    padding: 2rem 0;
    top: 0;
    z-index: 10;
}

.twitter-share-button {
    position: absolute !important;
    bottom: .5rem;
    right: 2rem;
}

.wrapper {
    margin: 0 auto;
    max-width: 1024px;
    padding: 0 2rem;
    position: relative;
}

.bookmarklet {
    background: $colorHighlight;
    padding: 0 10px;
    text-decoration: none;
    color: #000 !important;
    display: inline-block;
    margin: 0 5px;
    border-radius: 3px;
    line-height: 1.8;
    cursor: move;
}

.help {
    cursor: help;
}

$cardMargin: 2rem;
.cards {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: $cardMargin;
    position: relative;
    overflow: hidden;

    li {
        border: {
            width: 1px;
            color: $colorBorder;
            style: solid;
            radius: 20px
        }

        padding: 2rem;
        margin-bottom: $cardMargin;
        background: rgba($colorHighlight, .2)
    }

    h3 {
        position: absolute;
        left: -100rem;
        top: -100rem;
    }

    img {
        float: left;
        padding: 1rem;
        margin: .6rem 2rem .3rem 0;
        background: white;
        border: {
            width: 1px;
            color: $colorBorder;
            style: solid;
            radius: 1rem;
        }
    }
}


th {
    font-weight: normal;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sba-dark {
    &>header {
        background: $bg;
        color: $txt;
    }

    a {
        color: #51a9f7;

        &:hover {
            color: #8dc6f8;

        }
    }
}


@media screen and (max-width: 1024px) {
    .cards {
        display: block;
    }
}