@import './inc/colors';

html {
    line-height: 1.15;
    text-size-adjust: 100%;
    color: #222;
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font: 1.6rem/1.6 -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}

main {
    &.wrapper {
        padding-top: 10rem;
    }
}

h1 {
    margin: 0;
}

h2 {
    margin: 2rem 0 1rem;
}

h3 {
    margin: 1.5rem 0 .8rem
}

p,
ul,
ol {
    margin: 0 0 1rem;
}

a {
    background-color: transparent;
    color: #326891;

    &:hover {
        text-decoration: none;
    }

    &:visited {
        color: #326891;
    }
}

strong {
    font-weight: bolder;
}

img {
    border-style: none;
    vertical-align: middle;
    max-width: 100%;
}

::selection {
    background: $colorHighlight;
}

header {
    position: fixed;
    border-bottom: 1px solid $colorBorder;
    width: 100%;
    background: white;
    padding: 2rem 0;
    top: 0;
    z-index: 10;
}

.twitter-share-button {
    position: absolute !important;
    bottom: .5rem;
    right: 2rem;
}

.wrapper {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 2rem;
    position: relative;
}

.bookmarklet {
    background: $colorHighlight;
    padding: 0 10px;
    text-decoration: none;
    color: #000 !important;
    display: inline-block;
    margin: 0 5px;
    border-radius: 3px;
    line-height: 1.8;
    cursor: move;
}

.help {
    cursor: help;
}

.panels {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 60px;
}


th {
    font-weight: normal;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

// make the app work on the site
.sb-hive-input-content {
    border: 1px solid $colorBorder;
    display: block;
    text-align: center;
    padding: 10px;
    font-size: 30px;
    text-transform: uppercase;
    border-radius: 15px;
    margin: 10px 0;
    height: 68px;
}

.highlight {
    color: $colorHighlight;
}

#random-term {
    text-transform: capitalize;
}

.sba-dark {
    &>header {
        background: $bg;
        color: $txt;
    }

    a {
        color: #51a9f7;

        &:hover {
            color: #8dc6f8;

        }
    }
}

#pz-game-root {
    width: calc(100% - 200px);

    .sb-content-box {
        padding-right: 20px;
    }

    .spillTheBeans {
        li {
            &>strong {
                font-size: 2.5rem;
                position: relative;
                top: 3px;
            }
        }
    }
}

.sb-wordlist-items {
    border: 1px solid $colorBorder;
    border-radius: 20px;
    text-transform: capitalize;
    height: 100%;
    padding: 20px 0 25px 20px;
    column-count: 3;
    column-gap: 0px;
    column-fill: auto;

    &>li {
        margin-right: 20px;
        display: block;
        padding: 4px 0;
        margin-bottom: 7px;
        border-bottom: 1px solid $colorBorder;
    }
}

.sb-progress,
.sb-wordlist-items,
.sb-modal-wrapper,
.sb-modal-list {
    display: none;
}

@media screen and (max-width: 1024px) {
    .panels {
        display: block;
    }
}