@import './inc/sizes';
@import './inc/colors';
@import './inc/sizes';
@import './inc/dark-mode';
@import './inc/sba';
@import './inc/layout';

.pz-game-field {
    background: inherit;
    color: inherit;
}



.pz-toolbar-button,
[data-ui="menu"] li {
    &:hover {
        background: var(--menu-hover-color);
        color: var(--text-color);
    }
}

.pz-desktop {
    .sba {

        details {

            &[open] {
                summary {
                    &:before {
                        transform: rotate(-90deg);
                        left: 10px;
                        top: 1px;
                    }
                }
            }
        }

        summary {
            list-style: none;
            padding: 1px 15px 0 21px;

            &::marker {
                display: none
            }

            &:before {
                content: "â¯";
                font-size: 9px;
                position: absolute;
                display: inline-block;
                transform: rotate(90deg);
                transform-origin: center;
                left: 7px;
                top: 0
            }
        }
    }
}

[data-sba-theme] {
    &.pz-spelling-bee-congrats {

        .sb-wordlist-items-pag,
        .sb-modal-wordlist-items {
            &>li {
                &.sba-pangram {
                    font-weight: 700;
                    border-bottom: 2px var(--highlight-color) solid;
                }
            }
        }

        .sba-pop-up {
            &.left-aligned {
                .sb-modal-content {
                    .sba-modal-footer {
                        text-align: right;
                        border-top: 1px solid var(--border-color);
                        padding-top: 10px;
                        font-size: 13px;
                        border-top: 1px solid var(--border-color);
                        padding-top: 10px;
                    }
                }
            }
        }
    }

    &.pz-spelling-bee-congrats {
        .left-aligned {
            .sb-modal-content {
                &::after {
                    background: linear-gradient(180deg, transparent 0%, var(--modal-bg-color) 56.65%, var(--body-bg-color) 100%);
                }
            }
        }
    }
}

@import './inc/media-queries';