@import './inc/colors';

.pz-game-field {
    background: inherit;
    color: inherit;
}

.sb-wordlist-items {
    .sb-pangram {
        border-bottom: 2px $colorHighlight solid;
    }

    .sb-anagram {
        a {
            color: $colorPaleText;
        }
    }
}

.sba-dark {
    background: $bg;
    color: $txt;

    .sba {
        background: $bg;

        summary {
            background: #252525;
            color: $txt;
        }
    }

    .pz-nav__hamburger-inner,
    .pz-nav__hamburger-inner::before,
    .pz-nav__hamburger-inner::after {
        background-color: $txt;
    }

    .pz-nav {
        width: 100%;
        background: $bg;
    }

    .pz-nav__logo {
        filter: invert(1);
    }

    .sb-modal-scrim {
        background: rgba($bg, .85);
        color: $txt;
    }

    .pz-modal__title {
        color: $txt;
    }

    .sb-modal-frame,
    .pz-modal__button.white {
        background: $bg;
        color: $txt;
    }

    .pz-modal__button.white:hover {
        background: $cellBg;
    }

    .sb-message {
        background: $cellBg;
    }

    .sb-input-invalid {
        color: #666
    }

    .sb-progress-marker .sb-progress-value,
    .hive-cell.center .cell-fill {
        background: $yellow;
        fill: $yellow;
        color: $bg
    }

    .sb-input-bright {
        color: $yellow
    }

    .hive-cell.outer .cell-fill {
        fill: $cellBg;
    }

    .cell-fill {
        stroke: $bg;
    }

    .cell-letter {
        fill: $txt;
    }

    .hive-cell.center .cell-letter {
        fill: $bg;
    }

    .hive-action:not(.hive-action__shuffle) {
        background: $bg;
        color: $txt;
    }

    .hive-action__shuffle {
        filter: invert(100%)
    }

    *:not(.hive-action__shuffle):not(.sb-pangram):not(.sba-current) {
        border-color: #333 !important
    }

}

.sba {
    position: absolute;
    width: 200px;
    background: inherit;
    box-sizing: border-box;
    z-index: 3;
    margin: 16px 0;
    padding: 0 10px 5px;
    background: #fff;

    border: {
        width: 1px;
        color: $colorBorder;
        radius: 6px;
        style: solid
    }

    *,
    *:before,
    *:after {
        box-sizing: border-box;
    }

    * {
        &:focus {
            outline: 0;
        }
    }

    .dragger {
        font-weight: bold;
        line-height: 32px;
    }

    .closer,
    .minimizer {
        font-size: 18px;
        font-weight: bold;
        position: absolute;
        top: 0;
        line-height: 32px;
        padding: 0 10px;
        cursor: pointer;
    }

    .closer {
        right: 0;
    }

    .minimizer {
        right: 16px;
        transform: rotate(-90deg);
        transform-origin: center;
        font-size: 10px;
        right: 24px;
        top: 1px;

        &:before {
            content: "❯";
        }
    }

    &.inactive {
        details {
            display: none;
        }

        .minimizer {
            transform: rotate(90deg);
            right: 25px;
            top: 0
        }
    }

    details {
        font-size: 90%;
        margin-bottom: 1px;
        max-height: 800px; // intentionally unrealistically high (transition)
        transition: max-height 0.25s ease-in;

        &[open] {
            summary {
                &:before {
                    transform: rotate(-90deg);
                    left: 12px;
                    top: 0;
                }
            }
        }

        &.inactive {
            height: 0;
            max-height: 0;
            transition: max-height 0.25s ease-out;
            overflow: hidden;
            margin: 0
        }
    }

    summary {
        line-height: 24px;
        padding: 0 15px 0 25px;
        background: $colorHighlight;
        cursor: pointer;
        list-style: none;
        position: relative;

        &::-webkit-details-marker {
            display: none
        }

        &:before {
            content: "❯";
            font-size: 9px;
            position: absolute;
            display: inline-block;
            transform: rotate(90deg);
            transform-origin: center;
            left: 9px;
            top: -1px
        }
    }

    .pane {
        border: 1px solid $colorBorder;
        border-top: none;
        border-collapse: collapse;
        width: 100%;
        font-size: 85%;
        margin-bottom: 4px;
    }

    tr {
        &:first-of-type {

            td {
                border-top: none;
            }
        }

        &.sba-current {
            font-weight: bold;
            border-bottom: 2px solid $colorHighlight !important;
        }
    }

    td {
        border: 1px solid $colorBorder;
        white-space: nowrap;
        text-align: center;
        padding: 4px 3px;
        &:first-of-type {
            text-align: left;
        }
    }


    [data-ui="footer"] {
        color: currentColor;
        opacity: .6;
        font-size: 10px;
        text-align: right;
        display: block;
        padding-top: 8px;

        &:hover {
            opacity: .8;
            text-decoration: underline
        }
    }

    .spill-title {
        padding: 10px 6px 0px;
        text-align: center;
    }

    .spill {
        text-align: center;
        padding: 17px 0;
        font-size: 280%;
    }

    ul {
        &.pane {
            padding: 5px;
        }
    }

    [data-ui="surrender"] {
        .pane {
            padding: 10px 5px;
        }
        
        button {
            margin: 0 auto;
            display: block;
            font-size: 100%;
            white-space: nowrap;
            padding: 12px 20px;
        }
    }

    label {
        cursor: pointer;
        position: relative;
        line-height: 19px;

        input {
            position: relative;
            top: 2px;
            margin: 0 10px 0 0;
        }
    }
}