@import './inc/colors';

.pz-game-field {
    background: inherit;
    color: inherit;
}

.sb-wordlist-items {
    .sb-pangram {
        border-bottom: 2px $colorHighlight solid;
    }

    .sb-anagram {
        a {
            color: $colorPaleText;
        }
    }
}

.sba-dark {
    background: $bg;
    color: $txt;

    .sba {
        background: $bg;

        summary {
            background: #252525;
            color: $txt;
        }
    }

    .pz-nav__hamburger-inner,
    .pz-nav__hamburger-inner::before,
    .pz-nav__hamburger-inner::after {
        background-color: $txt;
    }

    .pz-nav {
        width: 100%;
        background: $bg;
    }

    .pz-nav__logo {
        filter: invert(1);
    }

    .sb-modal-scrim {
        background: rgba($bg, .85);
        color: $txt;
    }

    .pz-modal__title {
        color: $txt;
    }

    .sb-modal-frame,
    .pz-modal__button.white {
        background: $bg;
        color: $txt;
    }

    .pz-modal__button.white:hover {
        background: $cellBg;
    }

    .sb-message {
        background: $cellBg;
    }

    .sb-input-invalid {
        color: #666
    }

    .sb-toggle-expand {
        box-shadow: none;
    }

    .sb-progress-marker .sb-progress-value,
    .hive-cell.center .cell-fill {
        background: $yellow;
        fill: $yellow;
        color: $bg
    }

    .sb-input-bright {
        color: $yellow
    }

    .hive-cell.outer .cell-fill {
        fill: $cellBg;
    }

    .cell-fill {
        stroke: $bg;
    }

    .cell-letter {
        fill: $txt;
    }

    .hive-cell.center .cell-letter {
        fill: $bg;
    }

    .hive-action:not(.hive-action__shuffle) {
        background: $bg;
        color: $txt;
    }

    .hive-action__shuffle {
        filter: invert(100%)
    }

    *:not(.hive-action__shuffle):not(.sb-pangram):not(.sba-current) {
        border-color: #333 !important
    }

}

.sba {
    position: absolute;
    width: 160px;
    box-sizing: border-box;
    z-index: 3;
    margin: 16px 0;
    padding: 0 10px 5px;
    background: #fff;

    border: {
        width: 1px;
        color: $colorBorder;
        radius: 6px;
        style: solid
    }

    *,
    *:before,
    *:after {
        box-sizing: border-box;
    }

    * {
        &:focus {
            outline: 0;
        }
    }

    [data-ui="header"] {
        display: flex;
        gap: 8px;

        .toolbar {
            display: flex;
            align-items: stretch;
            gap: 1px;
            
            div {
                padding: 10px 3px 2px 3px;
                &:last-of-type {
                    padding-top: 8px;
                }
            }
        }

        svg {
            width: 11px;
            cursor: pointer;
            fill:currentColor
        }
    }


    .header {
        font-weight: bold;
        line-height: 32px;
        flex-grow: 2;
    }

    .minimizer {
        transform: rotate(180deg);
        transform-origin: center;
        position: relative;
        top: 2px
    }

    &.inactive {

        details,
        [data-ui="footer"] {
            display: none;
        }

        .minimizer {
            transform: rotate(0deg);
            top: 0
        }
    }

    details {
        font-size: 90%;
        max-height: 800px; // intentionally unrealistically high (transition)
        transition: max-height 0.25s ease-in;
        margin-bottom: 1px;

        &[open] {
            summary {
                &:before {
                    transform: rotate(-90deg);
                    left: 12px;
                    top: 0;
                }
            }
        }

        &.inactive {
            height: 0;
            max-height: 0;
            transition: max-height 0.25s ease-out;
            overflow: hidden;
            margin: 0
        }
    }

    summary {
        font-size: 13px;
        line-height: 22px;
        padding: 0 15px 0 21px;
        background: $colorHighlight;
        background: #e6e6e6;
        cursor: pointer;
        list-style: none;
        position: relative;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &::-webkit-details-marker {
            display: none
        }

        &:before {
            content: "❯";
            font-size: 9px;
            position: absolute;
            display: inline-block;
            transform: rotate(90deg);
            transform-origin: center;
            left: 7px;
            top: -1px
        }
    }

    .pane {
        border: 1px solid $colorBorder;
        border-top: none;
        border-collapse: collapse;
        width: 100%;
        font-size: 85%;
        margin-bottom: 2px;
    }

    tr {
        &.sba-current {
            font-weight: bold;
            border-bottom: 2px solid $colorHighlight !important;
        }
    }

    td {
        border: 1px solid $colorBorder;
        border-top: none;
        white-space: nowrap;
        text-align: center;
        padding: 4px 2px;
        width: 30px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &:first-of-type {
            text-align: left;
            width: auto;
        }
    }

    [data-ui="scoreSoFar"],
    [data-ui="spoilers"] {
        tbody {
            tr {
                &:first-child {
                    td {
                        font-weight: bold
                    }
                }
            }
        }
    }

    [data-ui="footer"] {
        color: currentColor;
        opacity: .6;
        font-size: 10px;
        text-align: right;
        display: block;
        padding-top: 8px;

        &:hover {
            opacity: .8;
            text-decoration: underline
        }
    }

    .spill-title {
        padding: 10px 6px 0px;
        text-align: center;
    }

    .spill {
        text-align: center;
        padding: 17px 0;
        font-size: 280%;
    }

    ul {
        &.pane {
            padding: 5px;
        }
    }

    [data-ui="surrender"] {
        .pane {
            padding: 10px 5px;
        }

        button {
            margin: 0 auto;
            display: block;
            font-size: 100%;
            white-space: nowrap;
            padding: 12px 10px;
        }
    }

    label {
        cursor: pointer;
        position: relative;
        line-height: 19px;

        input {
            position: relative;
            top: 2px;
            margin: 0 10px 0 0;
        }
    }
}


// // '(max-width: 350px)',// left: 12px; top: 735px; minimized
// // '(max-width: 370px)',// left: 12px; top: 735px; minimized
// // '(max-width: 443.98px)', // left: 12px; top: 654px; minimized

// @media only screen and (max-width: 350px) {
//     .sba {
//         left: 12px;
//         top: 735px;
//     }
// }

// @media only screen and (max-width: 370px) {
//     .sba {
//         left: 12px;
//         top: 735px;
//     }
// }

// @media only screen and (max-width: 443.98px) {
//     .sba {
//         left: 12px;
//         top: 654px;
//     }
// }

@media only screen and (max-width: 991.98px) {
}

@media only screen and (min-width: 444px) {
}

@media only screen and (min-width: 768px) {
}